:root {
  --COLOR51AFFF: #51afff;
  --COLOREAF5FF: #eaf5ff;
  --COLOR2CC077: #2cc077;
  --COLORE45B5A: #e45b5a;
  --COLOREBAE1C: #ebae1c;
  --COLORDCDFE6: #dcdfe6;
  --COLOR333: #333;
  --COLOR666: #666;
  --COLOR999: #999;
  --COLORF8F8: #f8f8f8;
  --COLORFFF: #fff;
  --RADIUS4: 4px;
  --RADIUS15: 15px;
  --RADIUS20: 20px;
  --RADIUS22: 22px;
  --BORDERTHICKNESS: 1px;
}

.b-51afff {
  border: var(--BORDERTHICKNESS) solid var(--COLOR51AFFF);
}

.b-eaf5ff {
  border: var(--BORDERTHICKNESS) solid var(--COLOREAF5FF);
}

.b-2cc077 {
  border: var(--BORDERTHICKNESS) solid var(--COLOR2CC077);
}

.b-e45b5a {
  border: var(--BORDERTHICKNESS) solid var(--COLORE45B5A);
}

.b-ebae1c {
  border: var(--BORDERTHICKNESS) solid var(--COLOREBAE1C);
}

.b-dcdfe6 {
  border: var(--BORDERTHICKNESS) solid var(--COLORDCDFE6);
}

.b-333 {
  border: var(--BORDERTHICKNESS) solid var(--COLOR333);
}

.b-666 {
  border: var(--BORDERTHICKNESS) solid var(--COLOR666);
}

.b-999 {
  border: var(--BORDERTHICKNESS) solid var(--COLOR999);
}

.b-f8f8f8 {
  border: var(--BORDERTHICKNESS) solid var(--COLORF8F8);
}

.b-fff {
  border: var(--BORDERTHICKNESS) solid var(--COLORFFF);
}

.b-transparent {
  border: var(--BORDERTHICKNESS) solid transparent;
}

.b-none {
  border: none;
}

.b-r-4 {
  border-radius: var(--RADIUS4);
}

.b-r-15 {
  border-radius: var(--RADIUS15);
}

.b-r-20 {
  border-radius: var(--RADIUS20);
}

.b-r-22 {
  border-radius: var(--RADIUS22);
}