:root {
  /* 字体大小 */
  --FONTSIZE28: 28px;
  --FONTSIZE18: 18px;
  --FONTSIZE16: 16px;
  --FONTSIZE14: 14px;
  --FONTSIZE12: 12px;
  /* 字体粗细 */
  --FONTWEIGHT500: 500;
  --FONTWEIGHT600: 600;
  --FONTWEIGHT700: 700;
  --FONTWEIGHT800: 800;
  --FONTWEIGHT900: 900;
}

.f-s-28 {
  font-size: var(--FONTSIZE28);
}

.f-s-18 {
  font-size: var(--FONTSIZE18);
}

.f-s-16 {
  font-size: var(--FONTSIZE16);
}

.f-s-14 {
  font-size: var(--FONTSIZE14);
}

.f-s-12 {
  font-size: var(--FONTSIZE12);
}

.f-w-500 {
  font-weight: var(--FONTWEIGHT500);
}

.f-w-600 {
  font-weight: var(--FONTWEIGHT600);
}

.f-w-700 {
  font-weight: var(--FONTWEIGHT700);
}

.f-w-800 {
  font-weight: var(--FONTWEIGHT800);
}

.f-w-900 {
  font-weight: var(--FONTWEIGHT900);
}